#header {
    display: flex;
    margin-top: 8px;
}

#title {
    margin-left: auto;
    margin-right: auto;
    font-size: 2.5em;
    color: #dfdfe9;
}

#button-bar {
    display: flex;
}

#start-button {
    margin-left: auto;
    margin-right: auto;
}
